<div class="min-h-screen flex flex-col justify-center items-center">
  <div>
    <%= image_tag 'top_page.png' %>
    <p class="text-center text-customBrown font-bold text-lg lg:text-xl italic tracking-wide mt-10">物事を多様に捉えてクイズに答えよう！</p>
  </div>
  <div class="flex justify-around mt-20">
      <%= link_to "初級編", home_path(level: :easy), class: "btn btn-secondary py-4 px-10" %>
      <%= link_to "中級編", home_path(level: :normal), class: "btn btn-secondary py-4 px-10" %>
      <%= link_to "上級編", home_path(level: :difficult), class: "btn btn-secondary py-4 px-10" %>
  </div>
  <div class="container mx-auto py-4 text-sm mt-20 flex flex-col justify-center items-center">
      <div class="text-center w-5/6 border-gray-400 border-y-2 py-10 mb-5">
        <h2 class="font-bold text-2xl mt-2 mb-10 text-center">水平思考とは</h2>
        <p class="text-center text-xl mb-3">心理学者である、エドワード・デボノ氏によって1967年に提唱された考え方のことで、</p>
        <p class="text-center text-xl mb-3">問題解決のために常識や既成概念にとらわれずに自由な発想でアイデアを生み出す思考方法のこと</p>
      </div>
      <div class="text-center w-5/6 border-gray-400 border-b-2 py-10 mb-5">
        <h2 class="font-bold text-2xl mb-10 text-center">水平思考クイズとは</h2>
        <p class="text-center text-xl mb-3">出題されるクイズに対して、回答者が出題者に「はい」「いいえ」「関係ありません」</p>
        <p class="text-center text-xl mb-3">のいずれかで答えられる質問を繰り返すことで真相を導き出すクイズのこと</p>
        <p class="text-center text-xl mb-3">水平思考クイズを行うことで、「水平思考」を鍛えることができる！</p>
      </div>
  </div>
  <div class="container mx-auto py-4 text-sm mt-10 mb-20 flex flex-col justify-center items-center">
    <div class="w-full max-w-xl aspect-w-16 aspect-h-9">
        <iframe
          src="https://www.youtube.com/embed/qOc5LgXCrpg?si=tM5fYnc4WHfKxVqc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          class="w-full h-full"
        ></iframe>
      </div>
  </div>
  <div class="flex justify-around mb-20">
      <%= link_to "初級編", home_path(level: :easy), class: "btn btn-secondary py-4 px-10" %>
      <%= link_to "中級編", home_path(level: :normal), class: "btn btn-secondary py-4 px-10" %>
      <%= link_to "上級編", home_path(level: :difficult), class: "btn btn-secondary py-4 px-10" %>
  </div>
</div>

